/* .contact {
  color: azure;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem;
  width: 50%;
  position: relative;
  left: 42%; 
  margin: 4vh;
  animation:moveInBottom;
  animation-duration: 1.2s;
  animation-delay: 5s;
  animation-fill-mode: backwards;
  z-index: 2;
} */

.contact {
  color: azure;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0.4rem;
  width: 55%;
  position: relative;
  left: 42%;
  margin: 3.4vh 0;
  animation: moveInBottom;
  animation-duration: 1.2s;
  animation-delay: 5s;
  animation-fill-mode: backwards;
  z-index: 2;
}

.head {
  font-size: xxx-large;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: x-large;
}

.contact-link {
  display: flex;
  align-items: start;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.contact-link:hover .contact-text {
  color: rgb(116, 116, 120);
}

.contact-link:hover {
  color: azure;
}

.contact-text {
  margin-left: 5px;
}

@media only screen and (max-width: 430px) {
  .contact {
    left: 10%;
    padding: 0.5rem;
    margin: 6vh auto;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
