
#footer{
    color: aliceblue;
    background-color: #151515;
    padding: .5rem;
    overflow: hidden;
    font-size: x-large;
}

.achknowledge{
    width: fit-content;
    padding: 1rem;
    margin-bottom: 3rem;
}

.achknowledge h4{
    margin-top: 1rem;
    letter-spacing: 0.01rem;
    font-weight: lighter;
    width: 60%;
}

.achknowledge h4:hover{
    font-size: 1.8rem;
}

.handles{
    margin: 0 0 1rem 1rem;
    letter-spacing: .1rem;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    margin-top: 10vh;
    margin-top: 10px;
}

.timezone{
    margin: 0 0 4rem 6rem;
    letter-spacing: .1rem;
    width: 55%;
    position: absolute;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    margin-left: 5%; 
    margin-top: 33vh;
    right: 58%;
}

.greet{
    color: azure;
    justify-content: center;
    text-align: center;
    font-size: 4vh;
    font-weight: bolder;
    max-height: 90px;
    padding: 1em;
    margin: 10px;
}

.address{
    color:rgba(255, 255, 255, 0.50);
    width: 18%;
    position: relative;
    left: 70%;
    padding: 2rem;
}

.address p{
    margin-top: 4vh;
}

.address a{
    color: rgb(255, 255, 255);
    letter-spacing: .1rem;
    position: relative;
    top: 2.5rem;
}

.footsign{
    position: relative;
    left: 52%;
}

footer{
    background-color:#1b1b1b;
    display: flex;
    justify-content: center;
    font-weight: 100;
    letter-spacing: .1rem;
    color: rgba(255,255,255, 0.50);
    padding-bottom: 2.5rem; 
}

@media only screen and (max-width:430px){
    #footer{
        text-align: center;
    }
    .achknowledge{
        position: relative;
        width: 100%;
    }
    .handles{
        position: relative;
        margin: 0;
        width: 40%;
        left: 30%;
    }
    .address{
        width: 80%;
        left: 10%;
    }
    .address p{
        margin-top: 2vh;
    }
    .footsign{
        left: 0;
        margin: 2vh 0;
    }
    
}

footer{
    padding: 1.5rem;
}