#footer {
  background-color: #333; /* Adjust as needed */
  color: #fff; /* Adjust as needed */
  padding: 20px;
  font-size: 21px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-column,
.right-column {
  flex: 1;
  margin: 10px;
  min-width: 250px; /* Adjust based on your needs */
}

.achknowledge {
  width: fit-content;
  padding: 1rem;
  margin-bottom: 1rem;
}

.handles ul {
  list-style: none;
  padding: 1rem;
}

.handles li {
  margin: 5px 0;
}

.handles a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.handles a:hover {
  color: beige;
}

.timezone {
  /* justify-content: center;
  text-align: center; */
  margin-top: 10px;
  padding: 1rem;
  margin-right: 35%;
}

.footsign {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* margin: auto; */
}

.footsign img {
  display: block;
  margin-top: 21px;
  width: 25%;
  padding-top: 20px;
}

.address {
  text-align: start;
  color: rgba(255, 255, 255, 0.5);
  /* float: right; */
}

.back-to-top {
  color: rgba(255, 255, 255, 0.5);
  margin: 16px;
  display: flex;
  justify-content: end;
  /* margin-top: 7rem; */
}

.right-column {
  color: #fff; /* Adjust as needed */
  text-decoration: none;
}

.right-column .back-to-top a:hover {
  text-decoration: underline;
}

footer {
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  font-weight: 100;
  letter-spacing: 0.1rem;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 2.5rem;
  padding: 0.5rem;
}

.latestUpdate {
  margin: 16px;
  display: flex;
  flex-direction: row-reverse;
}
