/* My Work Section */
#work {
  background-color: #222;
  padding: 1.5rem 0.5rem;
}

.heading {
  text-align: center;
  color: white;
  /* padding: 5rem; */
}

/* Flip Card Holder */
.flip-card-holder {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Individual Flip Card */
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 600px;
  perspective: 1000px;
  margin: 3rem 3rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 25px rgba(0, 0, 0);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  cursor: progress;
}

.flip-card-front img {
  width: 100%;
  height: auto;
}

.flip-card-back {
  background-color: #333333;
  transform: rotateY(180deg);
  padding: 5rem 3rem;
}

/* Card Back Text */
.flip-card-back p {
  margin: 5rem 0;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  font-size: 1.2vw;
}
.flip-card-back h1 {
  font-size: 1.5em;
}
.flip-card-front h3 {
  font-size: 1.5em;
}

/* Card Button */
.card-button {
  padding: 1rem 0.7rem;
  background-color: #222;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0.7rem;
  bottom: 6rem;
  cursor: pointer;
  transition: all 0.3s;
}

.card-button:hover {
  background-color: #fff;
  color: black;
  box-shadow: 1px 1px 10px black;
}

/* Responsive Styling */
@media only screen and (max-width: 768px) {
  .flip-card {
    width: 300px;
    height: 500px;
    margin: 2rem;
  }
}

@media only screen and (max-width: 430px) {
  .heading {
    padding: 2rem;
  }
  .flip-card {
    width: 250px;
    height: 400px;
    margin: 1rem;
  }
  .flip-card-back {
    padding: 3rem 2rem;
  }
  .card-button {
    bottom: 4rem;
  }
}
